<!DOCTYPE html>
<html>
    <head>
        <title>Success Page</title>
    </head>
    <body>
        <h1>{{ dic['smallcap']['name']}}</h1>
        <h1>{{ dic['smallcap']['percent'] }}</h1>
        <h1>{{ dic['largecap']['name']}}</h1>
        <h1>{{ dic['largecap']['percent'] }}</h1>
        <h1>{{ dic['debt']['name']}}</h1>
        <h1>{{ dic['debt']['percent'] }}</h1>
        <h1>Amount Invested - {{ dic['amountinvested']}}</h1>
        <h1>Returns - {{ dic['return']}}</h1>
    </body>
</html>